body {
  height: 400vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  animation: color-progress linear;
  animation-timeline: scroll(x);
  font-size: 5vmin;
  font-family: Sofia Sans Condensed;
  position: relative;
  background: var(--bg);
  transition-duration: .3s;
  transition-property: color, background-color;
}

.announceText {
  color: #4285f4;
  font-size: 5vmin;
  margin: 10vh auto 0;
  transform: translateY(-50%);
  position: fixed;
}

.noto, .textAnimation {
  font-family: 'Noto Sans JP', sans-serif;
  position: fixed;
  color: var(--fontColor);
  line-height: 1vw;
  font-kerning: normal;
  white-space: nowrap;
  margin: 42vh auto 0;
  transform: translateY(-50%);
  animation: noto-progress linear;
  animation-timeline: scroll();
}

@keyframes noto-progress {
  from {
    font-size: 18vw;
    font-variation-settings: "wght" 100;
  }
  to {
    font-size: 22vw;
    font-variation-settings: "wght" 900;
  }
}

.mplus {
  font-family: 'M PLUS 1', sans-serif;
  position: fixed;
  color: var(--fontColor);
  line-height: 1vw;
  font-kerning: normal;
  white-space: nowrap;
  margin: 42vh auto 0;
  transform: translateY(-50%);
  animation: mplus-progress linear;
  animation-timeline: scroll();
}

@keyframes mplus-progress {
  from {
    font-size: 18vw;
    font-variation-settings: "wght" 100;
  }
  to {
    font-size: 22vw;
    font-variation-settings: "wght" 900;
  }
}

.jost {
  font-family: 'Jost', sans-serif;
  position: fixed;
  color: var(--fontColor);
  line-height: 1vw;
  font-kerning: normal;
  white-space: nowrap;
  margin: 45vh auto 0;
  transform: translateY(-50%);
  animation: jost-progress linear;
  animation-timeline: scroll();
}

@keyframes jost-progress {
  from {
    font-size: 18vw;
    font-variation-settings: "wght" 100;
  }
  to {
    font-size: 22vw;
    font-variation-settings: "wght" 900;
  }
}

.bodoni {
  font-family: 'Bodoni Moda', serif;
  position: fixed;
  color: var(--fontColor);
  line-height: 1vw;
  font-kerning: normal;
  white-space: nowrap;
  margin: 44vh auto 0;
  transform: translateY(-50%);
  animation: bodoni-progress linear;
  animation-timeline: scroll();
}

@keyframes bodoni-progress {
  from {
    font-size: 18vw;
    font-variation-settings: "opsz" 40, "wght" 400;
  }
  to {
    font-size: 22vw;
    font-variation-settings: "opsz" 49, "wght" 900;
  }
}

html {
  scroll-behavior: smooth;
}

.pagetop {
  height: 6vmin;
  width: 6vmin;
  position: fixed;
  right: 4vmin;
  bottom: 1vmin;
  margin: 90vh auto 0;
  transform: translateY(-50%);
  border: solid 0.4vmin var(--color);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.pagetop__arrow {
  height: 1.5vmin;
  width: 1.5vmin;
  border-top: 0.4vmin solid var(--color);
  border-right: 0.4vmin solid var(--color);
  transform: translateY(20%) rotate(-45deg);
}

* {
  box-sizing: border-box;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 82vh auto 0;
  transform: translateY(-50%);
  position: fixed;
}

.radio-tile-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  .input-container {
    position: relative;
    width: 20vmin;
    height: 8vmin;
    margin: 2vmin;
    .radio-button {
      opacity: 0;
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      margin: 0;
      cursor: pointer;
    }
    .radio-tile {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;
      background-color: var(--bg);
      border: 0.3vmin solid #4285f4;
      border-radius: 1vmin;
      padding: 1rem;
      transition: transform 300ms ease;
    }
    .radio-tile-label {
      text-align: center;
      font-size: 3vmin;
      font-weight: 600;
      color: #4285f4;
    }
    .radio-button:checked+.radio-tile {
      background-color: #4285f4;
      border: 2px solid #4285f4;
      color: #F2F2F2;
      transform: scale(1.1, 1.1);
      .radio-tile-label {
        color: #F2F2F2;
      }
      .radio-button:checked {
        animation: color-progress linear;
        animation-timeline: scroll();
      }
    }
  }
}

 :root {
  --bg: #1a1a1a;
  --color: #F2F2F2;
  --fontColor: #F2F2F2;
}

 :root[data-theme-mode='light'] {
  --bg: #F2F2F2;
  --color: #4285f4;
  --fontColor: #1a1a1a;
}

input[type="checkbox"] {
  display: none;
}

.switch {
  position: fixed;
  left: 4vmin;
  bottom: -0.6vmin;
  margin: 90vh auto 0;
  transform: translateY(-50%);
}

.switch label {
  cursor: pointer;
}

.switch svg {
  height: 5vmin;
  width: 5vmin;
  color: var(--color);
}

#switch-mode-dark svg {
  transform: scale(-1, 1);
}

#switch-mode-dark {
  display: none;
}

#js_mode_toggle:checked~label #switch-mode-dark {
  display: initial;
}

#js_mode_toggle:checked~label #switch-mode-light {
  display: none;
}

.box {
  position: fixed;
  width: 80vw;
  display: flex;
  align-items: center;
  bottom: -2.6vmin;
  justify-content: center;
}

.wrapper {
  display: flex;
  list-style: none;
}

.icon {
  background: #f2f2f2;
  border-color: #1a1a1a;
  border-radius: 50%;
  margin: 1vh;
  width: 6vmin;
  height: 6vmin;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.credit {
  color: #4285f4;
  font-weight: 100;
  font-size: 3vmin;
  padding-left: 1vw;
  padding-right: 1vw;
  margin-right: 2vw;
}
